header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;

  background: white;
  height: $header-height;

  z-index: 1;

  .row {
    height: 100%;
  }

  .header-element {
    height: 100%;
    @include header-item-border;
    padding: 0 $header-item-padding;

    &:hover {
      background: $color-grey-5;
    }

    &:hover #name {
      color: $color-yellow-1;
    }
  }

  #name {
    font-size: 16px;
    padding-left: $header-item-padding;
    color: $color-blue-1;
  }
}

@media (max-width: $max-width-xs) {
  header {
    .header-element:first-child {
      display: none;
    }
  }
}
