#links > div {
  .linksLink {
    //display: inline-flex;

    padding: 5px 0;

    h3 {
      min-width: 200px;
      display: inline-block;
    }

    > div {
      min-width: 250px;
      display: inline-flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      // a {
      // }
      // div {
      // }
    }

    &:hover {
      background: $color-grey-5;

      svg {
        display: inline-block;
      }
    }

    svg {
      padding: 5px 5px;
      display: none;

      &:hover {
        fill: $color-yellow-1;
        cursor: pointer;
      }
    }
  }
}
