#pages {
  width: 100%;
  padding: calc(#{$header-height} + #{$header-item-padding})
    $header-item-padding $header-item-padding
    calc(#{$sidenav-width} + #{$header-item-padding});
  transition: $transition;

  .container {
    background: $color-white;
  }
}

#pages.pagesFullWidth {
  padding: calc(#{$header-height} + #{$header-item-padding})
    $header-item-padding $header-item-padding $header-item-padding;
}

#pages .container {
  > * {
    display: none;
  }

  > .active {
    display: block;
  }
}

// @media (max-width: $max-width-m) {
//   #pages {
//     padding: calc(#{$header-height} + #{$header-item-padding})
//       $header-item-padding $header-item-padding $header-item-padding;
//   }
// }

// @media (max-width: $max-width-xs) {
//   #pages {
//     padding: $header-item-padding $header-item-padding $header-item-padding
//       $header-item-padding;
//   }
// }
