#main {
  width: 100%;
  padding: calc(#{$header-height} + #{$header-item-padding})
    $header-item-padding $header-item-padding
    calc(#{$sidenav-width} + #{$header-item-padding});
  transition: $transition;

  .container {
    background: $color-white;
  }
}

@media (max-width: $max-width-m) {
  #main {
    padding: calc(#{$header-height} + #{$header-item-padding})
      $header-item-padding $header-item-padding $header-item-padding;
  }
}

@media (max-width: $max-width-xs) {
  #main {
    padding: $header-item-padding $header-item-padding $header-item-padding
      $header-item-padding;
  }
}
