.chart-legend {
  background: $color-white;
  border-radius: $radius;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  cursor: pointer;

  &:hover {
    background: $color-grey-5;
  }

  div,
  p,
  h3 {
    margin: 5px;
  }

  .chart-dot {
    width: 12px;
    height: 12px;

    border-radius: 50%;
  }
}
